OUTDIR=/tmp/ac_out

# set to false if your recordings do not require an AC session [i.e: no login is required]
AC_LOGIN_REQUIRED="true"
AC_ENDPOINT=""
AC_USERNAME=""
AC_PASSWD=""


# num of concurrent jobs to run, should be adjusted based on available HW resources
MAX_CONCUR_PROCS_PROCS=7
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe

# leave the KALTURA_* ENV vars commented if you only wish to convert the recording w/o ingesting to Kaltura
#KALTURA_BASE_ENDPOINT="https://www.kaltura.com"
#KALTURA_PARTNER_ID=
#KALTURA_PARTNER_SECRET=""
# full path to the target category name
#KALTURA_ROOT_CATEGORY_PATH="root category>sub category"
# the target Kaltura category ID [in this example, the ID of "sub category"]
#KALTURA_ROOT_CATEGORY_ID=
#KALTURA_METADATA_SYSTEM_NAME=
#KALTURA_METADATA_XML="<metadata><OriginalCreationDate>%{orig_created_at}</OriginalCreationDate></metadata>"
#SCOID_USER_MAPPING=
#SCOID_DURATION_MAPPING=
#KALTURA_ENABLE_REPLACEMENT=1

export OUTDIR AC_ENDPOINT AC_USERNAME AC_PASSWD KALTURA_BASE_ENDPOINT KALTURA_PARTNER_ID KALTURA_PARTNER_SECRET KALTURA_ROOT_CATEGORY_ID KALTURA_ROOT_CATEGORY_PATH FFMPEG_BIN FFPROBE_BIN AC_LOGIN_REQUIRED KALTURA_METADATA_SYSTEM_NAME KALTURA_METADATA_XML SCOID_USER_MAPPING
